@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap');

:root {
    --cl-primary: #495e57;
    --cl-secondary: #f4ce14;
    --cl-add1: #ee9972;
    --cl-add2: #fbdabb;
    --cl-active-light: #edefee;
    --cl-active-dark: #333;
    --cl-brand-error: #bb3756;
    --cl-black: #000;
    --cl-white: #fff;
    --fnt-header: 'Markazi Text', serif;
    --fnt-body: 'Markazi Text', serif;
    --fnt-header-size: 3.5rem;
    --fnt-subheader-size: 2.8rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.lemon-body {
  margin: 0;
  padding: 0;
  font-family: var(--fnt-body);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--cl-white);
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Bg */

.bg-main {
    background-color: #fff;
}

.bg-primary {
    background-color: var(--cl-primary);
}

.bg-secondary {
    background-color: var(--cl-secondary);
}

/* Titles */

.lemon-title {
    font-family: var(--fnt-header);
    font-size: var(--fnt-header-size);
    font-weight: 400;
    color: var(--cl-primary);
    line-height: 1;
    margin-bottom: 20px;
}

.lemon-subtitle {
    font-family: var(--fnt-header);
    font-size: var(--fnt-subheader-size);
    font-weight: 400;
    color: var(--cl-primary);
    line-height: 1;
    margin-bottom: 15px;
}

.lemon-title.light {
    color: var(--cl-secondary);
}

.lemon-subtitle.light {
    color: #ccc;
}

.lemon-title.page-header-title {
    color: var(--cl-secondary);
    font-size: 4rem;
    margin-bottom: 10px;
    line-height: .9;
}

.lemon-subtitle.page-header-title {
    color: #ccc;
    font-size: 2rem;
}

/* Paddings & Margings */

.pd-section {
    padding: 70px 0 90px;
}

.mg-section-top {
    margin-top: 70px;
}

.mg-section-bottom {
    margin-bottom: 70px;
}

.mg-title-section {
    margin-bottom: 30px;
}

.mg-title-text {
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .pd-section {
        padding: 40px 0 30px;
    }
    .mg-section-bottom {
        margin-bottom: 40px;
    }
    .mg-section-top {
        margin-top: 40px;
    }
}

/* Custom */

.media-round,
.ant-image-mask {
    border-radius: 15px;
}

/* Header */

.lemon-header-row {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.lemon-header-logo {
    display: flex;
    align-items: center;
}

.lemon-header-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.lemon-header-menu .ant-menu-light .menu-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cl-primary);
}

.lemon-header-menu .ant-menu-item-selected .menu-link.active {
    color: var(--cl-secondary);
}

.lemon-header-logo img {
    max-width: 230px;
}

.lemon-header-row .ant-menu {
    display: block;
    height: 100px;
    text-align: right;
}

.lemon-header-row .ant-menu-item,
.lemon-header-row .ant-menu-overflow-item-rest {
    line-height: 98px;
    display: inline-flex;
}

/* Footer */

.ant-layout-footer.lemon-footer {
    padding: 50px 0;
    background-color: var(--cl-primary);
    color: #ccc;
}

.lemon-footer-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lemon-footer-logo {
    color: #ccc;
}

.lemon-footer-logo span {
    max-width: 270px;
    font-size: .9rem;
}

.ant-layout-footer.lemon-footer h3 {
    font-family: var(--fnt-header);
    font-weight: 300;
    color: var(--cl-secondary);
    font-size: 2rem;
}

.ant-layout-footer.lemon-footer ul {
    padding-left: 20px;
    font-size: 1rem;
}

.ant-layout-footer.lemon-footer li a {
    color: #ddd;
}

.lemon-footer-logo img {
    max-width: 200px;
}

.ant-layout-footer.lemon-footer .lemon-footer-contact ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lemon-footer-contact .ant-space-item {
    font-size: 1rem;
}

/* Main Banner Slider */

.image-fit {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-fit.v-top {
    object-position: center top;
}

.lemon-banner-item {
    position: relative;
    height: 650px;
    background-color: var(--cl-primary);
}

.lemon-banner-item__box {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: #eee;
    font-size: 1.1rem;
    font-weight: 300;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.6727065826330532) 0%, rgba(77,77,78,0.3841911764705882) 50%, rgba(244,244,244,0) 100%);
}

.lemon-banner-item__content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 15px;
}

.lemon-banner-item__content p {
    max-width: 450px;
    margin-top: 25px;
    font-size: 1.2rem;
}

.lemon-banner-item__content .lemon-btn-a {
    margin-top: 30px;
}

/* Menu List */

.lemon-menu-item {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px #00000020;
    overflow: hidden;
}

.lemon-menu-item__image {
    position: relative;
    height: 250px;
    font-size: 0;
    background-color: #ee9972;
}

.lemon-menu-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease;
}

.lemon-menu-item__image:hover img {
    object-position: top center;
}

.lemon-menu-item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(1,1,1);
    background: radial-gradient(circle, rgba(1,1,1,0) 0%, rgba(10,10,10,0.15) 68%, rgba(15,15,15,0.639) 100%);
}

.lemon-menu-item__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    padding: 30px;
}

.lemon-menu-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.lemon-menu-item__desc {
    flex-grow: 2;
}

.lemon-menu-item__header > span {
    font-size: 1.5rem;
    color: var(--cl-add1);
}

.lemon-menu-item__header h3 {
    font-family: var(--fnt-header);
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 0;
    line-height: 1;
    color: var(--cl-primary)
}

/* Testimonials */

.lemon-testimonials-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--cl-secondary);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px #00000020;
    overflow: hidden;
}

/* Double Media */

.double-media-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.double-holder {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 0;
}

.double-one,
.double-two {
    position: relative;
    display: block;
    font-size: 0;
    border-radius: 20px;
    overflow: hidden;
    width: 50%;
    height: 50%;
    border: solid 1px #ccc;
    box-shadow: 0 0 15px #00000030;
}

.double-one {
    top: 70px;
    left: 50px;
}

.double-two {
    top: 20px;
}

@media (max-width: 767px) {
    .double-one,
    .double-two {
        top: 0;
        left: 0;
        width: calc(50% - 10px);
    }
}

/* Page Header */

.page-header {
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    min-height: 250px;
}

.page-header__wrapper {
    position: relative;
    width: 100%;
    background: rgb(1,1,1);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.6727065826330532) 0%, rgba(77,77,78,0.3841911764705882) 50%, rgba(244,244,244,0) 100%);
}

.page-header__wrapper .container {
    height: 100%;
}

.page-header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 40px 0;
    color: var(--cl-secondary);
}

@media (max-width: 767px) {
    .page-header {
        min-height: 70px;
    }
    .lemon-title.page-header-title {
        font-size: 3rem;
        margin-bottom: 5px;
        line-height: .8;
    }
    .lemon-subtitle.page-header-title {
        font-size: 1.7rem;
    }
}


/* Media text */

.media-text__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}